# functions
export(mctest, imcdiag, omcdiag, mc.plot)

# S3 methods
S3method(print, imc)
S3method(print, omc)

importFrom("graphics", "abline", "axis", "mtext", "par", "plot","text")

importFrom("stats", "complete.cases", "lm", "qchisq", "qf", "sd")


